.header-bg {
  background: #000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px; /* Aumentando o espaçamento interno */
}

.header-menu {
  display: flex;
  column-gap: 40px;
  text-transform: uppercase;
  align-items: center; /* Alinhar os itens verticalmente */
}

.header-menu a {
  color: #fff;
  font-size: 16px;
  position: relative; /* Adicionando position relative para fazer o efeito no ::after */
  padding: 12px 16px; /* Aumentando o padding para melhorar o clique em telas menores */
}

.header a img {
  height: 25px;
  margin-left: -32px;
  display: flex;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: #ffff;
  position: absolute;
  bottom: 0; /* Alinhar o ::after na parte inferior do link */
  left: 50%;
  transform: translateX(-50%); /* Centralizar horizontalmente o ::after */
  transition: all 0.6s;
}

.header-menu a:hover {
  color: #c10e2f;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu a {
    padding: 8px 12px; /* Reduzir o padding para telas menores */
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .header-menu {
    flex-direction: column; /* Mudar a direção para uma coluna em telas menores */
    align-items: flex-start; /* Alinhar o menu à esquerda em telas menores */
  }
}
