.titulo-parceiros {
  color: #b2b2b2;
  text-transform: uppercase;
  text-align: center;
  font-size: 45px;
  margin-bottom: 20px; /* Adicionando espaço entre o título e o conteúdo */
  padding-bottom: 40px;
  padding-left: 50px;
}

.parceiros {
  background: #e5e5e5;
  padding-top: 190px;
  padding-bottom: 190px;
  margin-bottom: 20px; /* Adicionando espaço entre o conteúdo e o próximo elemento */
}

.parceiros ul {
  padding: 0 10px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.parceiros li {
  padding: 32px;
  display: flex;
  border-left: 2px solid #bbb;
}

.parceiros img {
  margin: auto;
}

.parceiros li:first-child,
.parceiros li:nth-child(5) {
  border-left: none;
}

.parceiros li:nth-child(n + 5) {
  border-top: 2px solid #bbb;
}

@media (max-width: 800px) {
  .parceiros {
   padding: 0;
  }
  .parceiros h2 {
    margin-bottom: 35px;
    font-size: 35px;
    padding-top: 50px;
  
  }
  .parceiros img {
    width: 90px;
    height: 25px;
    padding: auto;;
  }
  .parceiros ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .parceiros li  {
    border-top: 2px solid #bbb;
   
    border: 5px solid #bbb;
    border-top: 2px solid #bbb;
  }
  .parceiros li {
    border-left: none;
  }
}
@media (max-width: 768px) {
  .parceiros ul {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media (max-width: 576px) {
  .parceiros ul {
    gap: 16px;
  }
}
